<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Austin Wise - {{ page.title }}</title>
<meta name="description" content="Austin's cool website">
<meta name="author" content="Austin Wise">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/Me.png">

<link rel="stylesheet" href="/assets/css/normalize.css?v=1">
<link rel="stylesheet" href="/assets/css/main.css?v=1">

<!-- Google webmaster tools -->
<meta content="dxciK9efbeCwilXv5BjjhR68W55iktqYtHa0w+ALvHE=" name="verify-v1">

<link href="/rss.xml" rel="alternate" title="RSS 2.0" type="application/rss+xml">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-999JMW3XNJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-999JMW3XNJ');
</script>

<a rel="me" href="https://mastodon.kame.moe/@turtle">Mastodon</a>
