---
title: Home
---

@inherits StatiqRazorPage<IDocument>

<img id="myPic" src="Me.png">
<h2>About Me</h2>
<div>
    I am a software engineer.
    I enjoy playing around with embedded systems, static analysis, and file systems.
</div>

<h2>Selected Github Projects</h2>
<ul class="posts">
    <li><a href="https://github.com/AustinWise/ZfsSharp/">ZfsSharp</a> A .NET program that reads the ZFS filesystem.</li>
    <li><a href="https://github.com/AustinWise/m2net">m2net</a> A .NET library to develop Mongrel2 handlers.</li>
    <li><a href="https://github.com/AustinWise/AustinLisp">Austin Lisp</a> A little lisp implementation in C#.</li>
    <li><a href="https://github.com/AustinWise/RegexEngine">RegexEngine</a> Converts regular expressions into MSIL bytecode.</li>
    <li><a href="http://github.com/AustinWise/">Additional projects</a> Publicly available on GitHub.</li>
</ul>

<h2>Blog Posts</h2>
<ul class="posts">
    <!-- TODO: hide drafts -->
    @foreach (var doc in OutputPages)
    {
        <li><span>@doc.GetMetadata("time")</span> &raquo; @Html.DocumentLink(doc)</li>
    }
</ul>

<h2>Accepted Pull Requests</h2>
<ul id="pr" class="posts">
    {% for pull in site.data.pull_requests %}
    {% if pull.pending == 'true' %}
    {% else %}
    <li><span>{{ pull.date | date_to_string }}</span> &raquo; <a href="{{ pull.url }}">{{ pull.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h2>Contact Me</h2>
<ul class="posts">
    <li>Electronically mail me: my first name at this domain</li>
    <li><a rel="me" href="http://www.twitter.com/AustinWise">Twitter</a></li>
    <li><a rel="me" href="https://www.linkedin.com/in/austinwise">Linked-In</a></li>
</ul>

<a href="/atom.xml"><img src="/images/feed-icon32x32.png">Atom Feed</a>
