---
layout: default
title: Home
---

<img id="myPic" src="Me.png">
<h2>About Me</h2>
<div>
	I am a software developer at <a href="http://www.brooks.com/">Brooks Automation</a>
	where I work on <a href="https://www.youtube.com/watch?v=7xq--jcBqYE">robots that move silicon wafers</a>.
	I enjoy playing around with parsers, static analysis, and file systems.
</div>

<h2>Open Source Projects</h2>
<ul class="posts">
	<li><a href="https://github.com/AustinWise/ZfsSharp/"> ZfsSharp</a> A .NET program that reads the ZFS filesystem.</li>
	<li><a href="https://github.com/AustinWise/m2net">m2net</a> A .NET library to develop Mongrel2 handlers.</li>
	<li><a href="https://github.com/AustinWise/AustinLisp">Austin Lisp</a> A little lisp implementation in C#.</li>
	<li><a href="https://github.com/AustinWise/RegexEngine">RegexEngine</a> Converts regular expressions into MSIL bytecode.  Applies some of what I learned in my Theory of Computation class to &quote;the real world&quote;.</li>
	<li><a href="https://github.com/AustinWise/PicoblazeSim">PicoBlazeSim</a> A C# assembler and simulator for the PicoBlaze soft processor running on a Nexys2 FPGA board.</li>
	<li><a href="http://code.google.com/u/AustinWise/updates">EVE Map NG</a> Committed several features and bug fixes. EVE Map NG is a mapping application for the EVE Online virtual world. <small>(<a href="http://dl.eve-files.com/media/1006/GTS_1.1.535.zip">DL link</a>)</small></li>
	<li><a href="http://github.com/AustinWise/">Additional projects</a> Publicly available on GitHub.</li>
</ul>

<h2>Blog Posts</h2>
<ul class="posts">
	{% for post in site.posts %}
		{% if post.tags contains 'draft' %}
		{% else %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
	{% endfor %}
</ul>

<h2>Accepted Pull Requests</h2>
<ul id="pr" class="posts">
	{% for pull in site.data.pull_requests %}
		<li>{{ pull.date }} &raquo; <a href="{{ pull.url }}">{{ pull.title }}</a></li>
	{% endfor %}
</ul>

<h2>Contact Me</h2>
<ul class="posts">
	<li><a rel="me" href="mailto:AustinWise@gmail.com">AustinWise@gmail.com</a></li>
	<li><a rel="me" href="http://www.twitter.com/AustinWise">Twitter</a></li>
	<li><a rel="me" href="https://www.linkedin.com/in/austinwise">Linked-In</a></li>
</ul>

<a href="/atom.xml"><img src="/images/feed-icon32x32.png">Atom Feed</a>
