<!doctype html>  

<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Austin Wise - {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="Austin Wise">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/css/style.css?v=3">
  <link rel="stylesheet" href="/css/rouge.css?v=1">

  <!-- Google webmaster tools -->
  <meta content="dxciK9efbeCwilXv5BjjhR68W55iktqYtHa0w+ALvHE=" name="verify-v1">

  <link href="/atom.xml" rel="alternate" title="RSS 2.0" type="application/rss+xml">

</head>

<body>

  <div id="container">
    <header>
      Austin Wise <a class="homeLink" href="/">home</a>
    </header>
    
    <div id="main">
{{ content }}
    </div>
    
    <hr>

    <footer>
      &copy; Austin Wise<br>
      Style based in part on <a href="https://github.com/mojombo/mojombo.github.io">mojombo.github.io</a> and
      <a href="https://html5boilerplate.com/">HTML5 Boilerplate</a>
    </footer>
  </div> <!--! end of #container -->
  
</body>
</html>
